.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: start;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-body {
	background-color: #424650;
	min-height: 90vh;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Page-container {
	display: flex;
	width: 100%;
	min-height: 90vh;
}

.Page-content {
	min-height: 100%;
	width: 50%;
	float: left;

	display: flex;
	flex-direction: column;
	border: 1px solid white;
}

.Page-sidebar {
	float: left;
	width: 30%;
	height: fit-content;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.Page-notification {
	min-height: 100%;
	width: 20%;
	float: left;
	border: 1px solid white;
}

.Page-button-group {
	padding: 10px;
}

button {
	font-size: large;
	padding: 5;
	margin: 10px;
}

label {
	padding: 10px;
}

input {
	font-size: large;
}
